[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EMMIXSSL"]
	path = EMMIXSSL
	url = https://github.com/cran/EMMIXSSL
[submodule "gmmsslm"]
	path = gmmsslm
	url = https://github.com/cran/gmmsslm
